* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .hero-video {
    object-position: center 30%; /* juster tallet for at vise en anden del af videoen */
  }
}
/*header */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease;
  pointer-events: none; /* så man ikke kan klikke på den mens den er usynlig */
}

.site-header.visible {
  opacity: 1;
  pointer-events: auto; /* aktiver klik igen når den er synlig */
}
 /* */

 /*knap */

 /*
.btn {
  padding: 14px 36px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  background: rgba(195, 153, 255, 0.455);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(8px);
  border: 2px solid rgba(195, 153, 255, 1);
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn:hover {
  background: rgba(195, 153, 255, 0.1);
}
*/

.site-header nav {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}


.nav-btn {
  padding: 14px 36px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(255, 255, 255);
  background: transparent;
  cursor: pointer;
  transition: all 0.25s ease;
  text-decoration: none;
}

.nav-btn:hover {
  background-image: url("media/baggrund.png");
}

/* countdown */

.countdown {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.countdown-num {
  font-size: 32px;
  font-weight: 500;
}
.countdown-label {
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;
}

/*hero */
.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.site-content {
  position: relative;
  margin-top: 100vh;
  background: #fff;
  z-index: 1;
}

/*page 1 */
#p1 {
  display: flex;
  flex-direction: row;
  align-items: stretch;

}

.IMG1 {
  width: 30%;
  height: auto;
  margin: 10%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

#textP1 {
  position: relative; /* nødvendigt for at ::after kan positionere sig korrekt */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* fjern border-right herfra */
}

#textP1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(255, 255, 255) 20%,
    rgb(255, 255, 255) 80%,
    transparent 100%
  );
}

.site-content {
  background-image: url("media/baggrund.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

